<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <!--Icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/cadprod.css">
    <title>Brasil Vinil - Home</title>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-orange">
      <a class="navbar-brand" href="home.html">
          <img src="./img/logo.png" width="100" alt="">
       </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
      
  </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="input-group input-group-sm mb-3" style="font-style: 12px;">
            <input type="search" class="form-control" placeholder="Pesquisar" >
      <div class="input-group-prepend">
            <button class="btn btn-outline-light" type="button">
      <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="carrinho.html" tabindex="-1">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Carrinho
            </a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="login.html" tabindex="-1">
                <i class="fa fa-user" aria-hidden="strue"></i>
                Login
             </a>
        </li>
      </ul>
    </div>
  </nav>
  
  <nav class="navbar navbar-light bg-silver">
    <a class="nav-link-submenu" href="home.html">
    <i class="fas fa-home"></i> Home</a>
    <a class="nav-link-submenu" href="#">
      <i class="fas fa-guitar"></i> Categorias </a>
    <a class="nav-link-submenu" href="#">
      <i class="fas fa-mobile"></i> Brasil Vinil App</a>
    <a class="nav-link-submenu" href="#">
      <i class="fas fa-record-vinyl"></i> Produtos</a>
    <a class="nav-link-submenu" href="#"> 
      <i class="fa fa-truck" aria-hidden="true"></i> Meus Pedidos</a>
    <a class="nav-link-submenu" href="#">
      <i class="fa fa-phone-square" aria-hidden="true"></i> Contatos</a>
  </nav>
  </header>
<body>
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12"> 
    <label for="exampleFormControlInput1"> <b> Nome:</b></label>
        <input type="NomeProd" class="form-control form-control-sm"  placeholder="Nome do Produto">
    <br>
</div>

<div class="col-md-6 col-xs-12"> 
        <label for="exampleFormControlInput1"> <b> Artista: </b></label>
        <input type="text" class="form-control form-control-sm" placeholder="Artista do Produto">
        </div>
</div>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <label form="exampleFormControlSelect2"> <b> Selecione a Categoria:</b> </label>
        <select class="form-control form-control-sm" >
            <option value="Rock">Rock</option>
            <option value="Samba">Samba</option>
            <option value="Pop">Pop</option>
            <option value="Mpb">MPB</option>
        </select>
        <br>
    </div>
    <div class="col-md-6 col-xs-12">
        <Label><b> Valor:</b></Label>
        <input type="text" class="form-control form-control-sm" placeholder="Valor do disco">
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <label form="exampleFormControlSelect2"> <b>Estado do Disco: </b> </label>
        <select class="form-control form-control-sm" >
            <option value="Novo">Novo</option>
            <option value="Usado">Usado</option>
           
        </select>
    </div> 
    <div class="col-md-6 col-xs-12"> 
        <label for="exampleFormControlInput1"> <b> Capa: </b></label>
        <br>
        <input type="file" class=".form-control-file" placeholder="Capa do Produto">
        </div>
</div>
<div class="row">
 <div class="col-md-0 col-xs-12 div_botao">
 <button type="button" class="btn btn-sucess" style=><b>Cadastrar</b></button> 
     </div>
     <div class="col-md-0 col-xs-12 div_botao">
     <button type="button" class="btn btn1" style=><b>Voltar</b></button>
     </div>
        </div>
     </div>
</div>
</body>
<div class="footer">
  <div class="row justify-content-center">
      <div class="col-5">&copy; Alunos 4º ADS - FAPEN</div>
      <div class="col-3"><a href="#">Sobre nós</a></div>
      <div class="col-3">
          <a href="#">
              <i class="fa fa-phone-square" aria-hidden="true"></i>
              Contato
          </a>
      </div>
  </div>


  <script src="https://kit.fontawesome.com/4fc6104bc0.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="boostrap/js/bootstrap.min.js"></script>
</html>