<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Produto</title>
    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/cadprod.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">

    
</head>
<header>
    <div class="navbar" style="background: #FFC108;">
        <div class="navbar-brand">
            <a href="home.html"><img src="./img/logo.png" class="w-25 h-25"> </img></a>
        </div>
         <div style="color:white; "><a href="login.html"> Login </a></div>
        </div>
</header>
<body>
     <div style='text-align: center;margin: 20px auto; margin-bottom: 60px; font-family: Merriweather Sans, sans-serif;'><h4>Cadastro de Produtos</h4></div>   
<form name="formprod" method="POST" action="http://localhost:8082/api/produto">
    <div class="container">

    <div class="row">

        <div class="col-6"> 
            <label for="exampleFormControlInput1"> <b> Nome:</b></label>
            <input type="NomeProd" name="Nome" class="form-control form-control-sm"  placeholder="Nome do Produto">
            <br>
        </div>

        <div class="col-6"> 
            <label for="exampleFormControlInput1"> <b> Artista: </b></label>
            <input type="text" class="form-control form-control-sm" name="Artista" placeholder="Artista do Produto">
        </div>
    </div>
    

    <div class="row">
        <div class="col-6">
            <label form="exampleFormControlSelect2"> <b> Selecione a Categoria:</b> </label>
            <select class="form-control form-control-sm" name="Categoria" >
                <option value="Rock">Rock</option>
                <option value="Samba">Samba</option>
                <option value="Pop">Pop</option>
                <option value="Mpb">MPB</option>
            </select>
            <br>
        </div>
        <div class="col-6">
            <Label><b> Valor:</b></Label>
            <input type="text" class="form-control form-control-sm" name="Valor" placeholder="Valor do disco">
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <label form="exampleFormControlSelect2"> <b>Estado do Disco: </b> </label>
            <select class="form-control form-control-sm" name="Estado">
                <option value="Novo">Novo</option>
                <option value="Usado">Usado</option>
               
            </select>
        </div>
        


        <!--<div class="col"> 
            <label for="exampleFormControlInput1"> <b> Capa: </b></label>
            <br>
            <input type="file" class=".form-control-file" placeholder="Capa do Produto">
        </div>-->
    </div>

 
<br><br><br>
<button type="submit" class="btn btn-warning" style=>Cadastrar</button> 
<button type="button" class="btn btn-warning" style=>Voltar</button>
</div>

</form>


</body>
</html>