<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/cadusuario.css">
    <title>Brasil Vinil - Cadastro</title>
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-orange">
    <a class="navbar-brand" href="home.html">
        <img src="./img/logo.png" width="100" alt="">
     </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
    
</ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="input-group input-group-sm mb-3" style="font-style: 12px;">
          <input type="search" class="form-control" placeholder="Pesquisar" >
    <div class="input-group-prepend">
          <button class="btn btn-outline-light" type="button">
    <i class="fas fa-search"></i>
    </button>
  </div>
</div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="carrinho.html" tabindex="-1">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Carrinho
          </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="login.html" tabindex="-1">
              <i class="fa fa-user" aria-hidden="strue"></i>
              Login
           </a>
      </li>
    </ul>
  </div>
</nav>


<nav class="navbar navbar-light bg-orange">
  <a class="nav-link" href="cadproduto.html">Produto</a>
  <a class="nav-link" href="cadproduto.html">Produto</a>
  <a class="nav-link" href="cadproduto.html">Produto</a>
  <a class="nav-link" href="cadproduto.html">Produto</a>
  <a class="nav-link" href="cadproduto.html">Produto</a>
  <a class="nav-link" href="cadproduto.html">Produto</a>
</nav>

</header>
<body>
      <div class="container">
    <div style='text-align: center;margin: 20px auto; margin-bottom: 60px; font-family: Merriweather Sans, sans-serif;'><h4>Cadastro de Usuários</h4></div>
            <form login>
  
              <div class="row">

                <div class="col-md-6 col-xs-12"> 
                    <label for="exampleFormControlInput1"> <b> Nome:</b></label>
                    <input type="NomeProd" class="form-control form-control-sm"  placeholder="Nome do Produto">
                    <br>
                    </div>
            
                    <div class="col-md-6 col-xs-12"> 
                        <label for="exampleFormControlInput1"> <b> Ultimo Nome </b></label>
                        <input type="text" class="form-control form-control-sm" placeholder="Artista do Produto">
                        </div>
                </div>
                
            

                <div class="row">

                  <div class="col-md-6 col-xs-12"> 
                      <label for="exampleFormControlInput1"> <b> Data de Nascimento</b></label>
                      <input type="date" class="form-control form-control-sm">
                      <br>
                      </div>
              
                      <div class="col-md-6 col-xs-12"> 
                          <label for="exampleFormControlInput1"> <b> Sexo: </b></label>
                          <br>
                          <select name="sexo">
                            <option value="F">Feminino</option>
                            <option value="M">Masculino</option>
                            <option value="O"> Outros</option>
                            </select>
                          </div>
                  </div>
                  
            
           
        <div class="row">

          <div class="col-md-6 col-xs-12"> 
              <label for="exampleFormControlInput1"> <b> Telefone:</b></label>
              <input type="NomeProd" class="form-control form-control-sm"  placeholder="Insira seu Telefone">
              <br>
              </div>
      
              <div class="col-md-6 col-xs-12"> 
                  <label for="exampleFormControlInput1"> <b> Celular</b></label>
                  <input type="text" class="form-control form-control-sm" placeholder="Insira seu Celular">
                  </div>
          </div>
          
  

          <div class="row">

            <div class="col-md-6 col-xs-12"> 
                <label for="exampleFormControlInput1"> <b> Lougradouro:</b></label>
                <input type="NomeProd" class="form-control form-control-sm"  placeholder="Insira seu Enderço">
                <br>
                </div>
        
                <div class="col-md-6 col-xs-12"> 
                    <label for="exampleFormControlInput1"> <b>Bairro</b></label>
                    <input type="text" class="form-control form-control-sm" placeholder="Insira seu Bairro">
                    </div>
            </div>
            

            <div class="row">

              <div class="col-md-6 col-xs-12"> 
                  <label for="exampleFormControlInput1"> <b> Nº:</b></label>
                  <input type="NomeProd" class="form-control form-control-sm"  placeholder="Insira o Número ">
                  <br>
                  </div>
          
                  <div class="col-md-6 col-xs-12"> 
                      <label for="exampleFormControlInput1"> <b> Cidade</b></label>
                      <input type="text" class="form-control form-control-sm" placeholder="Insira sua Cidade">
                      </div>
              </div>
              

            
              <div class="row">

                <div class="col-md-6 col-xs-12"> 
                    <label for="exampleFormControlInput1"> <b> Estado:</b></label>
                  <br>
  <select name="uf">
  <option value="AC">Acre</option>
	<option value="AL">Alagoas</option>
	<option value="AP">Amapá</option>
	<option value="AM">Amazonas</option>
	<option value="BA">Bahia</option>
	<option value="CE">Ceará</option>
	<option value="DF">Distrito Federal</option>
	<option value="ES">Espírito Santo</option>
	<option value="GO">Goiás</option>
	<option value="MA">Maranhão</option>
	<option value="MT">Mato Grosso</option>
	<option value="MS">Mato Grosso do Sul</option>
	<option value="MG">Minas Gerais</option>
	<option value="PA">Pará</option>
	<option value="PB">Paraíba</option>
	<option value="PR">Paraná</option>
	<option value="PE">Pernambuco</option>
	<option value="PI">Piauí</option>
	<option value="RJ">Rio de Janeiro</option>
	<option value="RN">Rio Grande do Norte</option>
	<option value="RS">Rio Grande do Sul</option>
	<option value="RO">Rondônia</option>
	<option value="RR">Roraima</option>
	<option value="SC">Santa Catarina</option>
	<option value="SP">São Paulo</option>
	<option value="SE">Sergipe</option>
	<option value="TO">Tocantins</option>
            </select>
            </div>

        
    <div class="col-md-6 col-xs-12"> 
        <label for="exampleFormControlInput1"> <b> Cep</b></label>
        <input type="text" class="form-control form-control-sm" placeholder="Insira seu CEP">
        </div>
</div>
           
          <div class="row">

            <div class="col-md-6 col-xs-12"> 
                <label for="exampleFormControlInput1"> <b> Complemento:</b></label>
                <input type="NomeProd" class="form-control form-control-sm"  placeholder="Opcional">
                <br>
                </div> 
              </div>
  <a href="home.html"> <button type="button" class="btn btn-success"><b>Continuar</b></button></a>
  <a href="home.html"> <button type="button" class="btn btn1" style="margin-right: 20px;"><b>Voltar</b></button></a>
 </div>
 </form>
              <div class="footer">
            <div class="row justify-content-center">
                <div class="col-5">&copy; Alunos 4º ADS - FAPEN</div>
                <div class="col-3"><a href="#">Sobre nós</a></div>
                <div class="col-3">
                    <a href="#">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                        Contato
                    </a>
                </div>
            </div>
          </div>
</body>
            <script src="js/jquery-3.4.1.slim.min.js"></script>
            <script src="js/popper.min.js"></script>
            <script src="boostrap/js/bootstrap.min.js"></script>
            <script src="https://kit.fontawesome.com/4fc6104bc0.js" crossorigin="anonymous"></script>     
                </html>
