<!DOCTYPE html>
<html lang="pt-br">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/entrega.css">
    <title>Brasil Vinil - Entrega</title>
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-orange">
        <a class="navbar-brand" href="home.html">
          <img src="./img/logo.png" width="100" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Disco</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorias
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Clássicos</a>
                <a class="dropdown-item" href="#">Rock</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Importados</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1">Melhores</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Carrinho
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    Entrega
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    Pagamento
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Usuário
                </a>
            </li>
          </ul>
        </div>
      </nav>

<div class="Endereco" style="margin-left: 20%; margin-top: 3%;">
    <h4 style="margin-bottom: 3%;">Meu Endereço</h4>
    <label style="font-weight: bold;">Logradrouro:</label>Travessa Toledo<br>
    <label style="font-weight: bold;">Nº</label> 30<br>
    <label style="font-weight: bold;">CEP:</label> 0<br>
    <label style="font-weight: bold;">Cidade:</label> Santo André<br>
    <label style="font-weight: bold;">Estado:</label> São Paulo - SP<br>
</div>

<div class="botao">
    <a href="pagamento.html"> <button type="button" class="btn btn-outline-warning" style="margin-right: 20px;">Outro Endereco</button></a>
    <a href="pagamento.html"> <button type="button" class="btn btn-success" >Continuar</button></a><br>
 
  </div>







  