<!DOCTYPE html>
<html lang="pt-br">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/listausuario.css">
    <title>Brasil Vinil - Usuário</title>
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-orange">
    <a class="navbar-brand" href="home.html">
        <img src="./img/logo.png" width="100" alt="">
     </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        
      </li>
      <li class="nav-item">
        <a class="nav-link" href="carrinho.html" tabindex="-1">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Carrinho
          </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="login.html" tabindex="-1">
              <i class="fa fa-user" aria-hidden="strue"></i>
              Login
           </a>
      </li>
    </ul>
  </div>
</nav>



</header>


<body>
<div class="container">
<h4 class="titulo_lista">Meus Usuários</h4>

<div class="table-responsive">
  <table class="table table-striped">
      <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Último Nome</th>
          <th scope="col">Data Nascimento</th>
          <th class="text-center" scope="col">Tipo de Usuário</th>
         
      </tr>
      </thead>
      <tbody>
          <tr>
              <th scope="row">1</th>
              <td>Bruno</td>
              <td>Ribeiro</td>
              <td>25/07/200</td>
              <td class="text-center">01 - Admin</td>
              
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Tiago</td>
            <td>Ribeiro</td>
            <td>25/07/200</td>
            <td class="text-center">01 - Admin</td>
        </tr>
      </tbody>
  </table>
</div>
</div>
    </body>
    <script src="https://kit.fontawesome.com/4fc6104bc0.js" crossorigin="anonymous"></script>
  </html>






























