.container{
    margin-top: 5%;
}.nav-link{
    color: white; 
    font-weight: bold;
    
}
.bg-orange {
    color: white;
    background-color: #ff6914;
}

.bg-orange .dropdown-menu {
    background-color: #ff6914;
}
.footer {
    grid-area:foot;
	position: relative;
    bottom: 0px;
    height: 45px;
    width: 100%;
    background-color: #ff6914;
    color: white;
    text-align: center;
 }

 .footer .row {
     margin-top: 20px;
 }

 .footer i {
     margin-top: 10px;
     margin-right: 5px;
 }

 .footer a {  
    color: #771ed2;
    text-decoration: none;
 }
 .btn-sucess{
     color: white;
    font-size: 16px;
    border-color: white;
    background-color: #ff6914;
 }   

.btn-sucess:hover{
    font-size: 16px;
    border-color: #ff6914;
    background-color: white;
    color: #ff6914;
}
.btn1{
    font-size: 16px;
    color: #771ed2;
    background-color: white;
    border-color: 2px solid #771ed2;

 
}
.btn1:hover{
    font-size: 16px;
    color: white;
    background-color: #771ed2;
    border-color: 2px solid #771ed2;
}
.div_botao{
    justify-content: center;
    display: inline-block;
    text-align: center;
    margin-top: 5%;
}
.bg-silver{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.nav-link-submenu{
  
    display: block;
    font-size: 14px;
    padding: 3px;
    border-radius: 0;
    background: #fff;
    margin: 0 5px;
    color: #666;
    position: relative;
    overflow: hidden;
    transition: all .4s ease;
    box-sizing: border-box;
    line-height: 1.3;
    z-index: 1
   
}
button, input {
    font-size: 12px;
}