.sexo{
    
    flex-direction: row;
    align-items: center;
}

.d-block{
    height: 350px;
}
.nav-pills .show>.nav-link {
    color: orange;
    background-color: white;
}
#mysearch:focus + .input-group-addon {
	z-index: 10;
}

#search-btn:hover {
	cursor: pointer;
	background-color: white;
}
.nav-link{
    color: white; 
    font-weight: bold;
    
}
.bg-orange {
    background-color: #ff6914;
}

.bg-orange .dropdown-menu {
    background-color: #ff6914;
}
.footer {
    grid-area:foot;
	position: relative;
    bottom: 0px;
    height: 45px;
    width: 100%;
    background-color: #ff6914;
    color: white;
    text-align: center;
 }

 .footer .row {
     margin-top: 20px;
 }

 .footer i {
     margin-top: 10px;
     margin-right: 5px;
 }

 .footer a {
    color: #771ed2;
    text-decoration: none;
 }
 .btn-success{
    color: white;
   font-size: 16px;
   border-color: white;
   background-color: #ff6914;
}   

.btn-success:hover{
   font-size: 16px;
   border-color: #ff6914;
   background-color: white;
   color: #ff6914;
}
.btn1{
   font-size: 16px;
   color: #771ed2;
   background-color: white;
   border-color: 2px solid #771ed2;


}
.btn1:hover{
   font-size: 16px;
   color: white;
   background-color: #771ed2;
   border-color: 2px solid #771ed2;
}