.texto{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}
.sub{
    margin-left: 70%;
}
.botao{
    margin-left: 84%;
}

tbody img {
    width: 40px;
}

.bg-orange {
    background-color: #ff6914;
}
.bg-silver{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.nav-link-submenu{
    display: block;
    font-size: 14px;
    padding: 3px;
    border-radius: 0;
    background: #fff;
    margin: 0 5px;
    color: #666;
    position: relative;
    overflow: hidden;
    transition: all .4s ease;
    box-sizing: border-box;
    line-height: 1.3;
    z-index: 1
   
}

table .fa {
    color:red;
}
.titulo_lista {   
    color: #771ed2;
    margin-top: 50px;
    margin-bottom: 20px;
}
 .btn-secondary{
	font-size: 14px;
    color: #771ed2;
    background-color: white;
    border-color: 2px solid #771ed2;
 }
 .btn-secondary:hover{
    font-size: 14px;
    color: white;
    background-color: #771ed2;
    border-color: white;
} 
.btn-primary{
    font-size: 14px;
    border-color: white;
    background-color: #ff6914;
    
}
.btn-primary:hover{
    font-size: 14px;
    border-color: #ff6914;
    background-color: white;
    color: #ff6914;
}
.footer {
    margin-top: 5%;
    padding: 10px 15px;
    grid-area: foot;
    position: relative;
    bottom: 0px;
    height: 75px;
    width: 100%;
    background-color: #ff6914;
    color: white;
    text-align: center;
 }

 .footer .row {
     margin-top: 20px;
 }

 .footer i {
     margin-right: 5px;
 }

 .footer a {
    text-decoration: none;
 }
 .fa-shopping-cart{
     color: #771ed2;
 }
 .botao1{
    margin-top: 4%;
}