.bg-silver {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.nav-link-submenu {
    display: block;
    font-size: 14px;
    padding: 3px;
    border-radius: 0;
    background: #fff;
    margin: 0 5px;
    color: #666;
    position: relative;
    overflow: hidden;
    transition: all .4s ease;
    box-sizing: border-box;
    line-height: 1.3;
    z-index: 1
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #ff6914;
    color: white;
    margin-bottom: 0;
    text-align: center;
    position: fixed;
}